{% extends 'layout.html'%}


{% block content %}
<h1 class="bg-primary" style="text-align:center">Wedding Shoot</h1>
<center>
<div class=" form-row col-sm-12 col-md-12 " style=" display:flex;
justify-content: center;
            align-items: center;">
{% for i in pre_wed_shoot_pics%}

<div class="form-row col-md-3 col-sm-12" >


<a href="/wed_shoot_view_full_view/{{i.id}}">
  <div style="height:200px; width:350px;  background-image: url('/media/{{i.photo}}');  background-size: 100% ; background-repeat:no-repeat;padding:1px" >
</a>

    <a href="/pre_wedding/pre_Wedding_photo_shoot_view/{{i.id}}"><button id="{{i.id}}" class="btn btn-success">View Detail</button></a>

  <a href="/pre_wedding/pre_wed_shoot_view_full/{{i.id}}"><button id="{{i.id}}" class="btn btn-success">View full size</button></a>

</div>
</div>
{% endfor %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
{% endblock %}
